---
import ImageGallery from "./ImageGallery.jsx";
import Button from "./button.astro";

const { title, description, technologies, images, repository } = Astro.props;
---

<div class="project-card">
  <ImageGallery client:load images={images} />
  <div class="info">
    <h3 class="title">{title}</h3>
    <p class="description">{description}</p>
    <div class="technologies">
      {technologies.map((tech: string) => <span class="tech-tag">{tech}</span>)}
    </div>
    <div class="buttons">
      <Button
        text="GitHub"
        href={repository}
        icon="https://cdn-icons-png.flaticon.com/512/25/25231.png"
        type="primary"
      />
    </div>
  </div>
</div>

<style "global":true>
  .project-card {
    display: flex;
    width: 55rem;
    gap: 0.5rem;
    margin-bottom: 2rem;
    background-color: #12192B;
    border-radius: 16px;
    box-shadow: 0px 0px 5px #9bb6d4;
    overflow: hidden;
    border: 2px solid #1E2A47;
  }

  /* .image-gallery-container {
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
}

.image-gallery-container img {
  width: 24rem;  
  height: auto;  
  border-radius: 8px;
  object-fit: cover; 
} */

  .image-gallery {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  /* .image-gallery img {
    width: 24rem;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
  } */

  .info {
    flex: 2;
    padding: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #fff;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #e6f1ff;
    text-wrap: pretty;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .tech-tag {
    background-color: #e3e3e3;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
  }

  .buttons {
    margin-top: 10px;
  }
</style>
